!!!
%html{ dir: 'ltr', lang: 'en' }
  %head
    %meta{ charset: "utf-8" }
    %meta{ content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible" }
    %meta{ content: "width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no", name: "viewport" }
    %title= current_page.data.title || "Felix Lee 🦄"

    / Meta Tags
    = partial "partials/meta"

    / Favicon
    = partial "partials/favicon"

    / Stylesheet
    = partial "inline-stylesheet/font-loading"
    = partial "inline-stylesheet/site"
    / = stylesheet_link_tag :site

    / FullStory Recording Snippet
    = partial "partials/fullstory"

    / JavaScript
    = javascript_include_tag :all

  %body.relative.flex.flex-column.min-h-100{ class: page_classes }
    = partial "partials/header"
    %main.max-w-620px.w-100.mx-auto.flex.flex-column.flex-auto.px0.py20.sm-pb0= yield
    = partial "partials/footer"

  / Typekit - List
  %script{ src: "//use.typekit.net/vpl7wld.js" }
  :javascript
    try{Typekit.load({ async: true });}catch(e){}


  / Google Analytics
  = partial "partials/analytics"
