!!!
%html{ dir: 'ltr', lang: 'en' }
  %head
    %meta{ charset: "utf-8" }
    %meta{ content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible" }
    %meta{ content: "width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no", name: "viewport" }
    %title= current_page.data.title || "Felix Lee 🦄"

    / Meta Tags
    = partial "partials/meta"

    / Favicon
    / = partial "partials/favicon"

    / Stylesheet
    = partial "inline-stylesheet/font-loading"
    / = partial "inline-stylesheet/site"
    = stylesheet_link_tag :site

    / Google Analytics
    / = partial "partials/analytics"
    
    / JavaScript
    = javascript_include_tag "headroomInit", async: true

  %body.relative.col-12.flex.flex-column{ class: page_classes }
    = partial "partials/header"
    %main.relative.col-12.flex.flex-column.flex-auto.mt8
      %article.writing-post-wrapper.max-w800px.col-12.flex.flex-column.mx-auto.px3.sr-sequence= yield
    = partial "partials/footer"
  
  / JavaScript
  = javascript_include_tag "all", async: true
  = javascript_include_tag "navToggle", async: true

  / Typekit - 2018-felixleeio
  :javascript
    (function(d) {
      var config = {
        kitId: 'nuf8uyq',
        scriptTimeout: 3000,
        async: true
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);