%footer.flex.flex-wrap.justify-between.font-base.my4.sm-my6.fade-in-up
  %span.grey.pb4.xs-p0.md-p0.lg-p0
    = link_to "2016 © Felix Lee", data.links.license, class: "grey-light"
    %span.grey-light.px1 •
    = link_to "GitHub Source", data.links.github_source, class: "grey-light"
    / %span.grey-light.px1 •
    / %a.grey-light{ href: "#" } Style Guide

  %ul.no-list-type.flex.flex-wrap.m0.xs-hide
    %li.mr9.sm-mr6.pb4.sm-p0
      = link_to "Twitter", data.links.twitter, class: "grey-light"
    %li.mr9.sm-mr6.pb4.sm-p0
      = link_to "Dribbble", data.links.dribbble, class: "grey-light"
    %li.mr9.sm-mr6.pb4.sm-p0
      = link_to "CodePen", data.links.codepen, class: "grey-light"
    %li.mr9.sm-mr6.pb4.sm-p0
      = link_to "GitHub", data.links.github, class: "grey-light"
    %li
      = link_to "LinkedIn", data.links.linkedin, class: "grey-light"
