%nav.col-12.z3.bg-white
  .max-w1000px.col-12.mx-auto.flex.justify-center.items-baseline.my3.px5
    %ul.list-reset.flex.items-baseline.m0.p0
      %li.mr8.mb0
        = active_link_to "Projects", "projects", class: "h5 text-ink-lighter text-blue-hover"
      %li.m0
        = active_link_to "Writings", "writings", class: "h5 text-ink-lighter text-red-hover"
      %li.mx8.mb0
        = active_link_to "Felix Lee", "/", class: "h5 text-ink uppercase semi spaced-1px"
      %li.m0
        = active_link_to "About", "about", class: "h5 text-ink-lighter text-orange-hover"
      %li.ml8.mb0
        = active_link_to "Contact", "contact", class: "h5 text-ink-lighter text-green-hover"
