---
title: Get in touch | Felix Lee 🦄
description: "Get in touch with Felix Lee. He is a web designer specialised in user interface and user experience design. Based in Brisbane, Australia."
---

.max-w-700px.w-100.mx-auto.py8.sm-py0.px3.sm-px0.flex.flex-auto.flex-column
  %h1.mt0.mb3.header.line-height-title.sm-line-height-base Get in touch

  .flex.flex-wrap.justify-between
    .flex.flex-column.w-100.sm-w-50.grey-dark.sm-pt3
      %p.mt0.mb1 Feel free to reach out.
      %p.mt0.mb6 I'd love to hear from you.

      %p.mt0.mb2 You can also find me on these sites:
      %ul.flex.flex-column.m0.font-base.list-disc
        %li.pb2.sm-pb1
          = link_to "Twitter", data.links.twitter, target: "_blank"
        %li.pb2.sm-pb1
          = link_to "Dribbble", data.links.dribbble, target: "_blank"
        %li.pb2.sm-pb1
          = link_to "CodePen", data.links.codepen, target: "_blank"
        %li.pb2.sm-pb1
          = link_to "GitHub", data.links.github, target: "_blank"
        %li.pb2.sm-pb1
          = link_to "Medium", data.links.medium, target: "_blank"
        %li
          = link_to "LinkedIn", data.links.linkedin, target: "_blank"

    .w-100.sm-w-50.my6.sm-m0
      %form.flex.flex-column{ action: "https://formspree.io/hello@felixlee.io", method:"POST" }
        .flex.flex-column.w-100.mb4
          %input#name.border.border-grey-light.rounded.py1.px2.order2{ type: "text", name: "Name", required: "true" }
          %label.order-1.uppercase.grey-light.semi.font-smaller.mb1{ for: "name" } Name
        .flex.flex-column.w-100.mb4
          %input#email-address.border.border-grey-light.rounded.py1.px2.order2{ type: "email", name: "_replyto", required: "true" }
          %label.order-1.uppercase.grey-light.semi.font-smaller.mb1{ for: "email-address" } Email Address
        .flex.flex-column.w-100.mb4
          %textarea#message.border.border-grey-light.rounded.py1.px2.min-h-150px.order2{ type: "email", name: "Message", required: "true" }
          %label.order-1.uppercase.grey-light.semi.font-smaller.mb1{ for: "message" } Message
        %input{ name: "_format", type: "hidden", value: "plain" }
        %input{ name: "_next", type: "hidden", value: "/thanks" }
        %input{ name: "_subject", type: "hidden", value: "Someone sent you a message 😱" }
        %button.bg-white.grey-light.semi.border.border-grey-light.hover-grey-darker.hover-border-grey-darker.transition-all.rounded.px3.py1{ type: "submit", value: "Send" } Send Message
