---
title: Home | Felix Lee 🦄
---

.flex.flex-auto.items-center.sr-sequence
  %article.max-w1000px.col-12.flex.flex-column.center-align.mx-auto.px3
    %h1.mx0.mt0.mb4.sm-mb2.serif.lh-title G’day to you, awesome person.
    %p.m0.h4.lh-small
      I like how you have landed on my portfolio, it must be an interesting story. 
      %br.xs-hide
      Keen to let me know how it happened or are you here about my work?
      %br.xs-hide
      You can reach me on the following platforms or 
      %a{ href: '#'} this form.
    %ul.flex.self-center.mt8.sm-mt5.mx0.mb0.list-reset
      %li.social-links
        = link_to data.links.twitter, target: "_blank", class: 'no-fancy-border flex' do
          %svg{ height: "20", width: "24", xmlns: "http://www.w3.org/2000/svg" }
            %path{ d: "M23.954 2.38c-.885.4-1.83.673-2.826.796A5.05 5.05 0 0 0 23.29.384c-.95.569-2.004.984-3.126 1.215A4.845 4.845 0 0 0 16.574 0c-2.717 0-4.92 2.26-4.92 5.042 0 .4.045.783.127 1.152-4.09-.2-7.716-2.213-10.143-5.256-.425.739-.665 1.6-.665 2.537 0 1.752.87 3.294 2.189 4.2a4.822 4.822 0 0 1-2.23-.63v.06c0 2.445 1.694 4.486 3.947 4.95a4.885 4.885 0 0 1-1.296.175c-.315 0-.615-.03-.915-.089.63 2.004 2.444 3.463 4.602 3.505A9.707 9.707 0 0 1 0 17.734 13.74 13.74 0 0 0 7.555 20c9.055 0 14.002-7.685 14.002-14.34 0-.216 0-.431-.015-.646A10.081 10.081 0 0 0 24 2.4l-.046-.02z" }

      %li.social-links
        = link_to data.links.dribbble, target: "_blank", class: 'no-fancy-border flex' do
          %svg{ height: "24", width: "24", xmlns: "http://www.w3.org/2000/svg" }
            %path{ d: "M12 24C5.385 24 0 18.615 0 12S5.385 0 12 0s12 5.385 12 12-5.385 12-12 12zm10.12-10.358c-.35-.11-3.172-.952-6.385-.438 1.341 3.684 1.887 6.684 1.992 7.309a10.283 10.283 0 0 0 4.395-6.87h-.002zm-6.115 7.808c-.153-.9-.75-4.032-2.19-7.77l-.066.021c-5.781 2.014-7.854 6.024-8.04 6.399A10.182 10.182 0 0 0 12 22.266c1.42 0 2.775-.291 4.005-.814v-.002zm-11.62-2.58c.232-.399 3.045-5.055 8.332-6.765.135-.045.27-.084.405-.12-.26-.585-.54-1.167-.832-1.74-5.12 1.53-10.085 1.466-10.535 1.455l-.005.312c0 2.633.998 5.037 2.634 6.855v.003zm-2.42-8.955c.46.008 4.683.026 9.477-1.248a65.6 65.6 0 0 0-3.8-5.928 10.29 10.29 0 0 0-5.676 7.177l-.001-.001zM9.6 2.052c.282.38 2.145 2.914 3.822 6 3.645-1.365 5.19-3.44 5.373-3.702A10.195 10.195 0 0 0 12 1.764c-.825 0-1.63.099-2.4.285v.003zm10.335 3.483c-.217.291-1.935 2.493-5.724 4.041a30.867 30.867 0 0 1 .9 2.013c3.411-.429 6.8.258 7.137.33a10.191 10.191 0 0 0-2.314-6.386l.001.002z" }

      %li.social-links
        = link_to data.links.codepen, target: "_blank", class: 'no-fancy-border flex' do
          %svg{ height: "24", width: "24", xmlns: "http://www.w3.org/2000/svg" }
            %path{ d: "M24 8.182l-.018-.087-.017-.05c-.01-.024-.018-.05-.03-.075-.003-.018-.015-.034-.02-.05l-.035-.067-.03-.05-.044-.06-.046-.045-.06-.045-.046-.03-.06-.044-.044-.04-.015-.02L12.58.19a1.024 1.024 0 0 0-1.142 0L.453 7.502l-.015.015-.044.035-.06.05-.038.04-.05.056-.037.045-.05.06c-.02.017-.03.03-.03.046l-.05.06-.02.06c-.02.01-.02.04-.03.07l-.01.05C0 8.12 0 8.15 0 8.18v7.497c0 .044.003.09.01.135l.01.046c.005.03.01.06.02.086l.015.05c.01.027.016.053.027.075l.022.05c0 .01.015.04.03.06l.03.04c.015.01.03.04.045.06l.03.04.04.04c.01.013.01.03.03.03l.06.042.04.03.01.014 10.97 7.33c.164.12.375.163.57.163s.39-.06.57-.18l10.99-7.28.014-.01.046-.037.06-.043.048-.036.052-.058.033-.045.04-.06.03-.05.03-.07.016-.052.03-.077.015-.045.03-.08v-7.5c0-.05 0-.095-.016-.14l-.014-.045.044.003zm-11.99 6.28l-3.65-2.44 3.65-2.442 3.65 2.44-3.65 2.44zm-1.034-6.674l-4.473 2.99L2.89 8.362l8.086-5.39V7.79zm-6.33 4.233l-2.582 1.73V10.3l2.582 1.726zm1.857 1.25l4.473 2.99v4.82L2.89 15.69l3.618-2.417v-.004zm6.537 2.99l4.474-2.98 3.613 2.42-8.087 5.39v-4.82zm6.33-4.23l2.583-1.72v3.456l-2.583-1.73zm-1.855-1.24L13.042 7.8V2.97l8.085 5.39-3.612 2.415v.003z" }

      %li.social-links
        = link_to data.links.github, target: "_blank", class: 'no-fancy-border flex' do
          %svg{ height: "23", width: "24", xmlns: "http://www.w3.org/2000/svg" }
            %path{ d: "M12 0C5.37 0 0 5.28 0 11.792c0 5.211 3.438 9.63 8.205 11.188.6.11.82-.254.82-.567 0-.28-.01-1.022-.015-2.005-3.338.711-4.042-1.582-4.042-1.582-.546-1.361-1.335-1.725-1.335-1.725-1.087-.73.084-.716.084-.716 1.205.083 1.838 1.215 1.838 1.215 1.07 1.803 2.809 1.282 3.495.98.108-.762.417-1.282.76-1.577-2.665-.295-5.466-1.309-5.466-5.827 0-1.287.465-2.339 1.235-3.164-.135-.298-.54-1.497.105-3.121 0 0 1.005-.317 3.3 1.208.96-.262 1.98-.392 3-.398 1.02.006 2.04.136 3 .398 2.28-1.525 3.285-1.208 3.285-1.208.645 1.624.24 2.823.12 3.12.765.826 1.23 1.878 1.23 3.165 0 4.53-2.805 5.527-5.475 5.817.42.354.81 1.077.81 2.182 0 1.578-.015 2.846-.015 3.229 0 .31.21.678.825.56C20.565 21.417 24 16.995 24 11.792 24 5.28 18.627 0 12 0" }

      %li.social-links
        = link_to data.links.medium, target: "_blank", class: 'no-fancy-border flex' do
          %svg{ height: "19", width: "24", xmlns: "http://www.w3.org/2000/svg" }
            %path{ d: "M2.846 3.876a.924.924 0 0 0-.303-.782L.303.402V0H7.26l5.378 11.761L17.366 0H24v.402l-1.917 1.832a.559.559 0 0 0-.213.536v13.461a.559.559 0 0 0 .213.535l1.87 1.832V19h-9.41v-.402l1.937-1.876c.19-.19.19-.246.19-.537V5.305l-5.39 13.65h-.727L4.278 5.304v9.148c-.052.385.076.772.347 1.05l2.52 3.051v.401H0v-.402l2.52-3.05c.27-.278.39-.669.326-1.05V3.876z" }

      %li.social-links
        = link_to data.links.linkedin, target: "_blank", class: 'no-fancy-border flex' do
          %svg{ height: "24", width: "24", xmlns: "http://www.w3.org/2000/svg" }
            %path{ d: "M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286h-.001zM5.337 7.433a2.062 2.062 0 0 1-2.063-2.065 2.064 2.064 0 1 1 2.063 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z" }