---
title: Writings | Felix Lee 🦄
blog:  writings
description: "Articles by Felix Lee. He is a web designer specialised in user interface and user experience design. Based in Brisbane, Australia."
keywords: "portfolio, felix, felix lee, ui/ux, ui, ux, ui design, user experience, user interface, user experience designer, user interface designer, ux design, product design, ui designer, ux designer, web designer, product designer, web developer, designer, developer, front-end architecture, scalable stylesheets, design sprint, design process, netengine, brisbane, australia, projects, project, case study, articles, posts, blog post, blog"
---

%h1.hide Writings
- blog.articles.each do |article|
  %a.block.w-100.mx-auto.my0.pt8.pb6.sm-py9.px3.sm-px0.first-type-pt0.border-bottom.last-type-border-bottom.border-grey-lighter.hover-opacity.transition-all{ href: article.url }
    %aside.min-h-200px.sm-min-h-300px.mb7.bg-cover.bg-center.bg-no-repeat.not-rounded.sm-rounded{ style: "background-image: url('#{article.data.thumbnail}')" }
    %article.flex.flex-column
      .flex.flex-wrap.font-small.uppercase.header.grey.mb2
        %span.m0= date_format(article.date)
        %span.m0.px1.grey-lighter /
        %span.m0= article.data.read_time
        %span.m0.px1.grey-lighter /
        - article.data.tag.each do |tag|
          %span.m0.mr2
            \##{tag}
      %h2.mt0.mb1.sm-mb2.grey-darker.bold.line-height-title.font-larger.sm-font-double.sm-font-title= article.title
      %p.m0.grey-light.font-large.line-height-small= article.data.summary
